/* Globals Styles */
:root {
    --white: #ffffff;
    --dark-green: #265a2f;
    --red: #a01b1d;
    --purple: #5745ac;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Arial, 'Poppins', Helvetica;
}

.none {
    display: none;
}
h1 {
    font-family: 'Poppins', Arial, Helvetica;
}
h2 {
    font-family: 'Poppins', Arial, Helvetica;
}