@media (max-width: 503px) {

    /* Header Styles */
    header {
        height: 130px;
    }
    .headerContainer--logoContainer__logo {
        display: none;
    }
    .headerContainer--menu nav ul {
        justify-content: center;
        margin-top: 15px;
    }
    .headerContainer--menu nav ul li {
        padding: 10px 15px ;
    }


    /* Welcome Styles */
    .welcomeContainer--welcome {
        padding-top: 175px;
    }
    .content--title h2 {
        font-size: 5rem;
    }
    .welcomeContainer--welcome h1 {
        font-size: 6rem;
    }
    .colors {
        width: 90px;
        height: 66px;
    }


    /* AboutMe Styles */
    .aboutMeContainer {
        margin-top: 150px;
    }
    .aboutMeContainer--photo .photoProfile {
        max-width: 300px;
    }
    .perfilContainer--certificates ul .curse {
        width: 118px;
    }
    .perfilContainer--certificates ul .curse img {
        width: 120px;
    }
    .perfilContainer--certificates ul .curse:nth-last-child(-n+3) {
        display: none;
    }
    .aboutMeContainer--photo .photoProfile {
        margin-top: 50px;
    }


    /* Projects Styles */
    .project {
        width: 90%;
        margin: 0 auto;
    }
}