footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    min-height: 15vh;
    margin: 0 auto;
    padding: 5px;
    font-size: 3rem;
    text-align: center;
    color: var(--white);
}
footer p {
    padding: 5px;
    margin-top: 15px;
}